# vim
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/bundle
vim/sessions
vim/backups
vim/view

# emacs
emacs.d/ido.last
emacs.d/auto-save-list
emacs.d/backups
emacs.d/*~
emacs.d/.places
emacs.d/session.*
emacs.d/tramp
emacs.d/kkcrc
emacs.d/savehist
emacs.d/smex-items
emacs.d/elpa
emacs.d/swank
emacs.d/emms
emacs.d/site-lisp/adventur-mode
emacs.d/projectile-bookmarks.eld
emacs.d/*.elc
emacs.d/.DS_Store
emacs.d/.yas-compiled-snippets.el
emacs.d/.cask
emacs.d/url/
emacs.d/var/
emacs.d/.sx/
emacs.d/bookmarks
emacs.d/eshell
emacs.d/games
emacs.d/semanticdb
emacs.d/.mc-lists.el
emacs.d/recentf

# emacs misc
.#*
